[Unit]
Description=pronto harvard server
ConditionPathExists=/home/{{ server_user }}/{{ matty_name }}
After=network.target
 
[Service]
Type=simple
User={{ server_user }}
Group={{ server_user }}

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/{{ server_user }}
ExecStart=/home/{{ server_user }}/{{ matty_name }}

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/{{ matty_name }}
ExecStartPre=/bin/chown syslog:adm /var/log/{{ matty_name }}
ExecStartPre=/bin/chmod 755 /var/log/{{ matty_name }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ matty_name }}
 
[Install]
WantedBy=multi-user.target
